{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MKV Infosis - Cold Store Management System</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

 <!-- Favicons -->
 <link href="{% static 'img/favicon.png' %}" rel="icon">
 <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

 <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">

 <!-- Google Fonts -->
 <link href="https://fonts.gstatic.com" rel="preconnect">
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

 <!-- Vendor CSS Files -->
 <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">


 <!-- Template Main CSS File -->
 <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
        <span class="d-none d-lg-block">MKV CSM</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Lorem Ipsum</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Atque rerum nesciunt</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Sit rerum fuga</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dicta reprehenderit</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="{% static 'assets/img/messages-1.jpg' %}" alt="" class="rounded-circle">
                <div>
                  <h4>Maria Hudson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="{% static 'assets/img/messages-2.jpg' %}" alt="" class="rounded-circle">
                <div>
                  <h4>Anna Nelson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>6 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="{% static 'assets/img/messages-3.jpg' %}" alt="" class="rounded-circle">
                <div>
                  <h4>David Muldon</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>8 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{% static 'assets/img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Kevin Anderson</h6>
              <span>Web Designer</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="client_details">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="setting">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <aside id="sidebar" class="sidebar">
    <div id="sidebar-container"></div>
  </aside>
  
  <script>
    fetch('/sidebar/')
        .then(response => response.text())
        .then(data => document.getElementById('sidebar-container').innerHTML = data)
        .catch(error => console.error('Error loading sidebar:', error));
  </script>

<main id="main" class="main">
  <div class="pagetitle">
      <h1>Admin Settings</h1>
  </div><!-- End Page Title -->

  <section class="section">
      <div class="row">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-body mt-4 mb-3">
                      <!-- Default Tabs -->
                      <ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
                          <li class="nav-item flex-fill" role="presentation">
                              <button class="nav-link w-100 active" id="package-tab" data-bs-toggle="tab" data-bs-target="#package" type="button" role="tab" aria-controls="package" aria-selected="true">Packages</button>
                          </li>
                          <li class="nav-item flex-fill" role="presentation">
                              <button class="nav-link w-100" id="item-tab" data-bs-toggle="tab" data-bs-target="#item" type="button" role="tab" aria-controls="item" aria-selected="false">Items</button>
                          </li>
                      </ul>

                      <!-- Tab Content -->
                      <div class="tab-content pt-2" id="myTabjustifiedContent">
                          <!-- Package Tab -->
                          <div class="tab-pane fade show active" id="package" role="tabpanel" aria-labelledby="package-tab">
                              <!-- Package Form -->
                              <form method="post" class="row mt-4">
                                  {% csrf_token %}
                                  <input type="hidden" name="form_type" value="package_form">
                                  <div class="col-lg-3 mb-3">
                                    <input type="text" class="form-control" name="Package_Name" placeholder="Package Name" required>
                                  </div>

                                  <div class="col-lg-3 mb-3">
                                      <select class="form-select" name="Duration" required>
                                          <option selected>Duration</option>
                                          <option value="3 Months">3 Months</option>
                                          <option value="6 Months">6 Months</option>
                                          <option value="1 Year">1 Year</option>
                                          <option value="2 Years">2 Years</option>
                                          <option value="5 Years">5 Years</option>
                                      </select>
                                  </div>
                                  <div class="col-lg-3 mb-3">
                                      <input type="number" class="form-control" name="price" placeholder="Package Price" required>
                                  </div>
                                  <div class="col-lg-3 mb-3">
                                      <input type="number" class="form-control" name="capacity" placeholder="Package Capacity" required>
                                  </div>
                                  <div class="col-lg-2 mb-3">
                                      <button type="submit" class="btn btn-primary">Add Package</button>
                                  </div>
                              </form>

                              <!-- Display Packages -->
                              <div class="row mt-4 mb-1">
                                  <div class="col-lg-12" style="overflow-x:scroll;">
                                      <table class="table datatable table-responsive">
                                          <thead>
                                              <tr>
                                                  <th scope="col">Package Name</th>
                                                  <th scope="col">Duration</th>
                                                  <th scope="col">Price</th>
                                                  <th scope="col">Capacity</th>
                                                  <th scope="col">Action</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              {% for package in packages %}
                                              <tr>
                                                  <td>{{ package.name }}</td>
                                                  <td>{{ package.duration }}</td>
                                                  <td>{{ package.price }}</td>
                                                  <td>{{ package.capacity }}</td>
                                                  <td>
                                                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editPackageModal{{ package.id }}">
                                                          Edit
                                                      </button>
                                                      <!-- Edit Package Modal -->
                                                      <div class="modal fade" id="editPackageModal{{ package.id }}" tabindex="-1">
                                                          <div class="modal-dialog">
                                                              <div class="modal-content">
                                                                  <div class="modal-header">
                                                                      <h5 class="modal-title">Edit Package</h5>
                                                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                  </div>
                                                                  <div class="modal-body">
                                                                      <form method="post">
                                                                          {% csrf_token %}
                                                                          <div class="mb-3">
                                                                              <label for="name" class="form-label">Name</label>
                                                                              <input type="text" class="form-control" name="name" value="{{ package.name }}">
                                                                          </div>
                                                                          <div class="mb-3">
                                                                              <label for="duration" class="form-label">Duration</label>
                                                                              <input type="text" class="form-control" name="duration" value="{{ package.duration }}">
                                                                          </div>
                                                                          <div class="mb-3">
                                                                              <label for="price" class="form-label">Price</label>
                                                                              <input type="text" class="form-control" name="price" value="{{ package.price }}">
                                                                          </div>
                                                                          <div class="mb-3">
                                                                              <label for="capacity" class="form-label">Capacity</label>
                                                                              <input type="text" class="form-control" name="capacity" value="{{ package.capacity }}">
                                                                          </div>
                                                                          <button type="submit" class="btn btn-primary">Save changes</button>
                                                                      </form>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </td>
                                              </tr>
                                              {% endfor %}
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div><!-- End Package Tab -->
                          <script>
                            document.getElementById('packageSelect').addEventListener('change', function() {
                                var selectedPackage = this.value;
                                if (selectedPackage) {
                                    window.location.href = "{% url 'Register' %}?package=" + selectedPackage;
                                }
                            });
                        </script>
                          <!-- Item Tab -->
                          <div class="tab-pane fade" id="item" role="tabpanel" aria-labelledby="item-tab">
                              <!-- Item Form -->
                              <form method="post" class="row mt-4">
                                  {% csrf_token %}
                                  <input type="hidden" name="form_type" value="item_form">
                                  <div class="col-lg-4 mb-3">
                                      <input type="text" class="form-control" name="Item_Name" placeholder="Item Name (Apple)" required>
                                  </div>
                                  <div class="col-lg-4 mb-3">
                                      <input type="number" class="form-control" name="quantity" placeholder="Item Quantity" required>
                                  </div>
                                  <div class="col-lg-2 mb-3">
                                      <button type="submit" class="btn btn-primary">Add Item</button>
                                  </div>
                              </form>

                              <!-- Display Items -->
                              <div class="row mt-4 mb-1">
                                  <div class="col-lg-12" style="overflow-x:scroll;">
                                      <table class="table datatable table-responsive">
                                          <thead>
                                              <tr>
                                                  <th scope="col">Item Name</th>
                                                  <th scope="col">Total Quantity</th>
                                                  <th scope="col">Action</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              {% for item in items %}
                                              <tr>
                                                  <td>{{ item.name }}</td>
                                                  <td>{{ item.quantity }}</td>
                                                  <td>
                                                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editItemModal{{ item.id }}">
                                                          Edit
                                                      </button>
                                                      <!-- Edit Item Modal -->
                                                      <div class="modal fade" id="editItemModal{{ item.id }}" tabindex="-1">
                                                          <div class="modal-dialog">
                                                              <div class="modal-content">
                                                                  <div class="modal-header">
                                                                      <h5 class="modal-title">Edit Item</h5>
                                                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                  </div>
                                                                  <div class="modal-body">
                                                                      <form method="post">
                                                                          {% csrf_token %}
                                                                          <div class="mb-3">
                                                                              <label for="name" class="form-label">Name</label>
                                                                              <input type="text" class="form-control" name="name" value="{{ item.name }}">
                                                                          </div>
                                                                          <div class="mb-3">
                                                                              <label for="quantity" class="form-label">Quantity</label>
                                                                              <input type="text" class="form-control" name="quantity" value="{{ item.quantity }}">
                                                                          </div>
                                                                          <button type="submit" class="btn btn-primary">Save changes</button>
                                                                      </form>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </td>
                                              </tr>
                                              {% endfor %}
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div><!-- End Item Tab -->
                      </div><!-- End Tab Content -->
                  </div>
              </div>
          </div>
      </div>
  </section>
</main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyrights 2025<strong><span><a href="https://mkvinfosis.com/"> MKV Infosis Pvt. Ltd.</a></span></strong> All Rights Reserved.
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Developed by <a href="https://mkvinfosis.com/">MKV Infosis Pvt. Ltd.</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  
  
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

	<script>
    // Initialize Select2
    $(document).ready(function () {
        $('.mySelect').select2();
    });
</script>
</body>

</html>